# Editors
.idea/
composer.lock
bin/*
!bin/console

###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/var/
/vendor/
###< symfony/framework-bundle ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###
